<p style="text-align: center;" class="efect">Get In Touch</p>

<div class="card-columns">
  <div class="card">
    <h3 class="card-title">Phone</h3>
    <div class="text"><img class="card-img-top" src="assets/Contact/phone-256.png" alt="Card image">
        &nbsp;+52 449-129-46-70
    </div>
    <div class="card-body"></div>
    <a href="tel:4491294670" class="mb-3 btn btn-outline-primary btn-block" >Call Me</a>
  </div>

  <div class="card">    
    <h3 class="card-title">Mail</h3>
    <div class="text"><img class="card-img-top" src="assets/Contact/mail-256.png" alt="Card image">
        &nbsp; victor.zaragoza111@gmail.com
    </div>
    <div class="card-body"></div>
      <a href="mailto:victor.zaragoza111@gmail.com" class="mb-3 btn btn-outline-primary btn-block" >Send A Mail </a>
  </div>
  <div class="card">    
    <h3 class="card-title">Linkedin</h3>
    <div class="text"><img class="card-img-top" src="assets/Contact/linkedin-6-256.png" alt="Card image">
        &nbsp; Victor Zaragoza
    </div>
    <div class="card-body"></div>
      <a href="www.linkedin.com/in/victor-zaragoza1" class="mb-3 btn btn-outline-primary btn-block" >Linkedin </a>
  </div>
  <div class="card">
    <h3 class="card-title">GitHub</h3>
    <div class="text"><img class="card-img-top" src="assets/Contact/github-9-256.png" alt="Card image">
      &nbsp; Victor-Zaragoza
    </div>
    <div class="card-body"></div>
    <a href="https://github.com/Victor-Zaragoza" class="mb-3 btn btn-outline-primary btn-block" >GitHub</a>
  </div>
</div>
