.card{
    background-color: transparent;
    border: 0;
    margin-top: 3em;
    
}

.card-columns{
    margin: auto 2%;
}

.text{
    color: white;
    font-size: 23px;
}

h1, h5, h3, p {
    color: white;
    text-align: center;
}

img{
    max-width: 50px;
}