<p style="text-align: center;" class="efect">Courses And Certificates</p>

<div class="card-columns">
  <div class="card" *ngFor="let course of mycourses, let i= index">
    <h5 class="card-title">{{course.name}}</h5>
    <div *ngIf= "i === -1; else elseBlock" style="margin: 0 auto;"><img class="card-img-top hori" [src]="course.img[0]" alt="Card image"></div>
    <ng-template #elseBlock><img class="card-img-top" [src]="course.img[0]" alt="Card image"></ng-template>
      
  <div class="card-body">
    <h5 class="card-title" style="color: red;">{{course.name}}</h5>
    <p class="card-text">{{course.acquiredKnowledge}}</p>
    <p class="card-text">Platform:<b style="color: red;"> {{course.platform}}</b></p>
    <p class="card-text"><small class="text-muted">Duration: <b>{{course.duration}}</b></small></p>
  </div>
  
  </div>     
</div>

