<div class="primary-header navbar">
  <div>
    <a class="navbar-brand logo" data-text="Victor Zaragoza" [routerLink]= "['/home']">
      <h3><<span style="color:#EB4747 ;">Victor Zaragoza</span> /></h3>
    </a> 
  </div>
  <button (click)="showNav()" class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false"><span class="sr-only">Menu</span></button>
  <nav>
    <ul data-visible="false" class="primary-navigation flex" data-visible="false" id="primary-navigation">    
      <li class="active">
        <a class="ff-sans-cond uppercase text-white letter-spacing-2" [routerLink]= "['/home']" (click)="closeNav()"><span aria-hidden="true">00</span> Home</a>
      </li>
      <li>
        <a class="ff-sans-cond uppercase text-white letter-spacing-2" [routerLink]= "['/projects']" (click)="closeNav()"><span aria-hidden="true">01</span> Projects</a>
      </li>
      <li>
        <a class="ff-sans-cond uppercase text-white letter-spacing-2" [routerLink]= "['/courses']" (click)="closeNav()"><span aria-hidden="true">02</span> Courses</a>
      </li>
      <li>
        <a class="ff-sans-cond uppercase text-white letter-spacing-2" [routerLink]= "['/machines']" (click)="closeNav()"><span aria-hidden="true">03</span> Machines</a>
      </li>
      <li>
        <a class="ff-sans-cond uppercase text-white letter-spacing-2" [routerLink]= "['/contactme']" (click)="closeNav()"><span aria-hidden="true">04</span> Contact Me!</a>
      </li>
    </ul>
  </nav>
</div>
  
