.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: blue;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: blue;
}

h1, h3, h4, h6, h4, p {
  color: white; 
}

.carr{
  margin: auto 2%;
  
}

.hori{
  max-height: 550px;
  max-width: 360px;
}

@media (max-width: 580px) {
  .ac{
    display: flex; 
    flex-flow: row wrap; 
    flex-direction: column;
  } 
}
  