<div class="text-center"><h1 class="animated fadeIn">{{project.name}}</h1></div>
  <hr>
  <div class="row animated fadeIn fast carr ac">
    <div class="col md-8 text-center div1">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let img of project.img let i=index" [ngClass]="{'active': i == 0 }">
            <div *ngIf="project.name==='Grocery Store'; else elseBlock " class="d-flex justify-content-center"><img [src]="img" class="d-block w-100 hori"></div>
            <ng-template #elseBlock><img [src]="img" class="d-block w-100"></ng-template>
          </div>
        </div>
            
        <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </button>
      </div>
      <br>
      <a [routerLink]="['/projects']" class="btn btn-outline-danger btn-block">Back</a>
    </div>
    
    <div class="col md-4">
      <h4 style="color: red;">Used Technologies:</h4>
      <p style="font-size: 20px ;">{{project.technologies}}.</p>
      <hr>
      <h4 style="color: red;">Description:</h4>
      <p style="font-size: 20px ;">{{project.longDescription}}</p>
      <hr>
      <h4 style="color: red;">Github:</h4>
      <ul><li><h5><a style="color: white;" href="{{project.linkGit}}">{{project.linkGit}}</a></h5></li></ul>
      <div *ngIf="project.linkHost!==''">
        <hr>
        <h4 style="color: red;">Web:</h4>
        <ul><li><h5><a style="color: white;" href="{{project.linkHost}}">{{project.linkHost}}</a></h5></li></ul>    
      </div>  
    </div>
    <!-- <a [routerLink]="['/projects']" class="btn btn-outline-danger btn-block">Back</a> -->
  </div>