.jumbotron h1{
    margin-top: -5%;
}

.jumbotron {
  background: transparent;
  color: white;
  width: 80%;
  display: block;
  /* text-align: center; */
}

.lead{
  font-size: 26px;
}

.clone{
  font-size: 18px;
}

 