<div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"></li>
    <li
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/Home/intro.jpg" class="d-block w-100" alt="..." />
      <a class="link btn btn-lg btn-danger" role="button" href="#">click aki</a>
    </div>
    <div class="carousel-item">
      <img src="../../assets/Home/intro2.jpg" class="d-block w-100" alt="..." />
      <a class="link btn btn-lg btn-danger" role="button" href="#">click aki</a>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">
    This is a simple hero unit, a simple jumbotron-style component for calling
    extra attention to featured content or information.
  </p>
  <hr class="my-4" />
  <p>
    It uses utility classes for typography and spacing to space content out
    within the larger container.
  </p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
