<div class="jumbotron mt-2" id="aboutme">
  <h1 class="display-4">About me</h1>
  <p class="lead">
    Hello! Im Victor Zaragoza Software engineer with more than two years of experience in the areas
    of infraestructure and software automation. I currently work as a
    contractor software engineer for Electronic Arts in the area of Online
    Gameplay where, following the DevOps life cycles, I work in the
    deployment and operation phases while also working to optimize our
    processes with the use of scripts and new cloud technologies.
    Currently looking for job opportunities that allow me to make the most
    of my skills and allow me to face new challenges.
    This page its just to show some of the projects that i made in various technologies
    such as Python, Go, Angular, Ionic, Java, PHP...
  </p>
  <hr class="my-4" />
  <p class="clone">
    Every project has a GitHub repository, clone the projects and try them.
  </p>
  <a class="btn btn-primary btn-lg" [routerLink]= "['/contactme']" role="button">Contact Me!</a>
</div>
