<div class="jumbotron mt-2" id="aboutme">
  <h1 class="display-4">About me</h1>
  <p class="lead">
    Hello! Im Victor Zaragoza college student of Computer Systems Engineering,
    this page its just to show some of the projects that i made in various technologies
    like Angular, Ionic, Java, PHP...
  </p>
  <hr class="my-4" />
  <p class="clone">
    Every project has a GitHub repository, clone the projects and try them.
  </p>
  <a class="btn btn-primary btn-lg" [routerLink]= "['/contactme']" role="button">Contact Me!</a>
</div>
